      form{
        font-family:"メイリオ";
        line-height:200%;
        background-color:#CCCCCC;
        border:solid #999999 1px;
        color:#000000;
        width:300px;
        padding:10px;
      }

      #outMoney{
        font-size:24pt;
      }
